$primary:#f5f5f5;
$secondary:#873eff;
$success:#70b877;
$title: #6a6b73;
$card: #cacacb;
$card1: #ef79a3;
$card2:#f7ca55;
$card3: #637dc5;
$white:#ffffff;
$data:#afafb5;

// table
$table-group-separator-color: transparent; 

$link-color: $title;

$theme-colors:(
    "primary":$primary,
    "secondary":$secondary,
    "success":$success,
    "title":$title,
    "card":$card,
    "card1":$card1,
    "card2":$card2,
    "card3":$card3,
    "data":$data
)