$primary:#f5f5f5;
$secondary:#873eff;
$success:#70b877;
$heading: #52555f;
$text: #9e9faa;
$card1: #ef79a3;
$card2:#f7ca55;
$card3: #637dc5;

$text-colors:(
    "primary":$primary,
    "secondary":$secondary,
    "success":$success,
    "heading":$heading,
    "text":$text,
    "card1":$card1,
    "card2":$card2,
    "card3":$card3
)