<section class="h-100 d-flex">
  <aside class="sidebar d-flex flex-column justify-content-between">
    <nav>
      <div class="logo d-flex justify-content-center p-3">
        <h3>COUPONIC</h3>
      </div>
      <ul class="p-3">
        <li class="nav-item nav-item pb-3">
          <a href="" class="nav-link text-decoration-none text-dark">
            <span class="icon-dashboard"></span>
            <span class="nav-text ps-2">Dashboard</span>
          </a>
        </li>

        <li class="nav-item pb-3">
          <a href="" class="nav-link text-decoration-none text-dark">
            <span class="icon-orders"></span>
            <span class="nav-text ps-2">Orders</span>
          </a>
        </li>

        <li class="nav-item pb-3">
          <a href="" class="nav-link text-decoration-none text-dark">
            <span class="icon-customers"></span>
            <span class="nav-text ps-2">Customers</span>
          </a>
        </li>

        <li class="nav-item pb-3">
          <a href="" class="nav-link text-decoration-none text-dark">
            <span class="icon-store"></span>
            <span class="nav-text ps-2">Stores</span>
          </a>
        </li>

        <li class="nav-item pb-3">
          <a href="" class="nav-link text-decoration-none text-dark">
            <span class="icon-vouncher"></span>
            <span class="nav-text ps-2">Vouncher</span>
          </a>
        </li>
      </ul>
    </nav>

    <nav>
      <ul class="ps-0">
        <li class="nav-item pb-3">
          <a href="" class="nav-link text-decoration-none text-dark">
            <span class="icon-settings"></span>
            <span class="nav-text ps-2">Setting</span>
          </a>
        </li>
        <li class="nav-item pb-3">
          <a href="" class="nav-link text-decoration-none text-dark">
            <span class="icon-help"></span>
            <span class="nav-text ps-2">Help</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  <div class="d-flex flex-column flex-grow-1">
    <header class="header p-3 d-flex justify-content-between">
      <div>
        <label for="menu"><span class="icon-menu cursor-pointer pe-4 fs-5"></span></label>
        <span class="fs-3">Dashboard</span>
      </div>
      <div class="d-flex align-items-center">
        <button class="btn text-secondary border-secondary">New Issue</button>
        <button class="btn text-secondary border-secondary ms-3">Redeem</button>
        <span class="icon-bell icon fs-4 ms-3"></span>
        <img src="../assets/images/profile.jpg" alt="" class="profile ms-3">
      </div>
    </header>
    <section class="main-content bg-primary h-100">
      main content
    </section>
  </div>
</section>