.profile{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.icon{
    background-color: #faf6ff;
    border-radius: 50%;
    padding: 10px;
}
// .icon-bell{
//     position: relative;
//     ::after{
//         position: absolute;
//         top: 0;
//         right: 0;
//         background-color: red;
//         color: red;
//     }
// }