.sidebar {
    flex: 0 0 $sidebar-width;
    width: $sidebar-width;
    transition: 0.6s all ease-in-out;

    @include media-breakpoint-down(md) {
        position: absolute;
        z-index: 2;
        flex: 0 0 50%;
        width: 50%;
        top: 0;
        left: -100%;
        background-color: $white;
    }

    .brand {
        transition: 0.6s all ease-in-out;
    }
}

.nav-link {
    transition: 0.6s all ease-in-out;

    &:hover {
        background-color: $primary;
        border-radius: 10px;
    }
}

#menu {
    &:checked {
        &~.sidebar {
            flex: 0 0 0;
            width: 0;

            @include media-breakpoint-down(md) {
                width: 50%;
                left: 0;
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
                left: 0;

            }
        }
    }

}

#toggle {
    @include media-breakpoint-down(md) {
        position: absolute;
        z-index: 1000;
    }
}